.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin: 0;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .link {
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  